
<div class="section container-fluid dev-confi-new-sct1" id="dev-confi-new-sct1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 wrapper text-center">
                  <div class="pr-md-ad">
                    <h2>認証メールを再送信します。</h2>

                    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                      <%= render "devise/shared/error_messages", resource: resource %>
                      <div class="field">
                        <div class="control-label text-left" for="">メールアドレス</div>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field-area", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)  %>
                      </div>

                      <div class="field">
                        <div class="control-label text-left" for="">パスワード</div>
                        <%= f.password_field :password, autocomplete: "current-password", class: "field-area" %>
                      </div>                     

                      <div class="actions">
                        <%= f.submit "認証メールを再送信する" %>
                      </div>
                    <% end %> 
                  </div>                                               
                </div>            
            </div>
        </div>
    </div>
