<div class="section container-fluid" id="lg-sct1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 wrapper text-center">
                  <div class="pr-md-ad">
                    <h2>アカウント作成</h2>

                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                      <%= render "devise/shared/error_messages", resource: resource %>
                      <div class="field">
                        <div class="control-label text-left" for="">メールアドレス</div>
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field-area" %>
                      </div>
                      <div class="field">
                        <div class="control-label text-left" for="">
                          パスワード
                          <% if @minimum_password_length %>
                          （<%= @minimum_password_length %>文字以上）
                          <% end %>
                        </div>
                      
                        <%= f.password_field :password, autocomplete: "new-password", class: "field-area" %>
                      </div>                      
                      <div class="field">
                        <div class="control-label text-left" for="">パスワード（確認用）</div>
                        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field-area" %>
                      </div>

                      <div class="actions">
                        <%= f.submit "メールアドレスで登録" %>
                      </div>
                    <% end %> 
                    <p class="or">または</p>
                    <div class="field">
                      <a href="/users/auth/facebook">
                        <p class="sns-login"><i class="fab fa-facebook"></i>facebookで登録</p>
                      </a>
                    </div>  
                    <div class="field">
                      <a href="/users/auth/google_oauth2">
                        <p class="sns-login"><i class="fab fa-google"></i>gmailで登録</p>
                      </a>
                    </div>  
                    <div class="field">
                      <a href="/users/auth/twitter">
                        <p class="sns-login"><i class="fab fa-twitter"></i>twitterで登録</p>
                      </a>
                    </div>  
                    <div class="field-memory-login">
                      <a href="/login">すでにアカウントをお持ちですか？</a>
                    </div>
                  </div>
                                               
                </div>            
            </div>
        </div>
    </div>
