<div class="section container-fluid" id="pr-sct1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 wrapper text-center pr-md-ad">                    
                        <div class="row d-flex m-ad pr-bg" id="pr-start-top">
                            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                            <div class="field">
                                <div class="control-label text-left" for="">メールアドレス</div>
                                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field-area" %>
                            </div>

                            <div class="field">
                                <div class="control-label text-left" for="">パスワード</div>
                                <%= f.password_field :password, autocomplete: "current-password", class: "field-area" %>
                            </div>

                            <% if devise_mapping.rememberable? %>
                                <div class="field-memory-login text-left">
                                <a href="/users/password/new">パスワードをお忘れですか？</a>
                                </div>
                            <% end %>

                            <div class="actions">
                                <%= f.submit "ログイン" %>
                            </div>
                            <% end %> 
                        </div>
                        <div class="col-xs-12 pr-button">
                            <%= f.button :type => "submit" do %>
                                利用申請する                                
                            <% end %>
                        </div>                                                       
                </div>            
            </div>
        </div>
    </div>