<%#=TOP%>
    <div class="section container-fluid card-new-sct1" id="card-new-sct1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 wrapper text-center pr-md-ad">
                    <div class="m-ad pr-bg" id="pr-start-top">
                        <h2 class="pb-2per border-bottom subject">登録クレジットカード情報</h2>
                        <div class="my-20 card-add">
                            <%=form_tag(pay_card_index_path, method: :post ,id:'charge-form', name: "inputForm") do %>
                                <div class="number-details">
                                    <div class="card-number">
                                        カード番号<span class="must-check">必須</span>
                                    </div>
                                </div>
                                <div class="number">
                                    <%= text_field_tag :number, "", class: "number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number" %>
                                </div>
                                <div class="brand-image">
                                    <img src="/cards/logo_visa.gif" alt="各種クレジットカードブランドロゴ" class="brand-logo">
                                    <img src="/cards/logo_mastercard.gif" alt="各種クレジットカードブランドロゴ" class="brand-logo">
                                    <img src="/cards/jcb.png" alt="各種クレジットカードブランドロゴ" class="brand-logo">
                                    <img src="/cards/american_express.png" alt="各種クレジットカードブランドロゴ" class="brand-logo">
                                    <img src="/cards/discover.png" alt="各種クレジットカードブランドロゴ" class="brand-logo">
                                    <img src="/cards/diners_club.png" alt="各種クレジットカードブランドロゴ" class="brand-logo">
                                </div>        
                                <div class="expirationdate">
                                    <div class="expirationdate-details">
                                        <div class="date">
                                            有効期限<span class="must-check">必須</span>
                                        </div>
                                    </div>
                                    <div class="expirationdate-choice d-flex">
                                        <div class="month d-flex">
                                            <%= select_tag "exp_month" ,options_for_select([['--', ''], ['01', '1'], ['02', '2'], ['03', '3'], ['04', '4'], ['05', '5'], ['06', '6'], ['07', '7'], ['08', '8'], ['09', '9'], ['10', '10'], ['11', '11'], ['12', '12']]) , type: "text"%>
                                            <div class="month-detail">月</div>
                                        </div>
                                        <div class="year d-flex">
                                            <%= select_tag "exp_year" ,options_for_select([['--', ''], ['21', '2021'], ['22', '2022'], ['23', '2023'], ['24', '2024'], ['25', '2025'], ['26', '2026'], ['27', '2027'], ['28', '2028'], ['29', '2029'], ['30', '2030'], ['31', '2031'], ['32', '2032']]), type: "text" %>
                                            <div class="year-detail">年</div>
                                        </div>
                                    </div>
                                </div>              
                                <div class="securitycode">
                                    <div class="securitycode-details">
                                        <div class="securitycode-title">
                                            セキュリティコード<span class="must-check">必須</span>
                                        </div>
                                    </div>
                                    <div class="securitycode-cardsecurity">
                                        <%= text_field_tag :cvc , "", class: "cvc", placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4", id: "cvc"%>
                                    </div>
                                </div>
                                <div class="submit">
                                    <%= submit_tag "登録する" , id: "token_submit" %>
                                </div>
                            <% end %>                             
                        </div>
                    </div> 
                    <div class="col-xs-12 top-button">
                        <%= link_to "トップページに戻る", "/", method: :get,'data-turbolinks': false %>
                    </div>                    
                </div>            
            </div>
        </div>
    </div>


    
    